body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  --main-color: #4782a4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", sans-serif;
}

h1 {
  line-height: 1.5em;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -0.2px;
  color: white;
  margin: 0;
}

h1 strong {
  color: #1d252c;
}

h2 {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  margin-bottom: 40px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  flex: 1;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  /* margin         : 10px; */
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.project strong {
  font-family: "Exo", sans-serif;
}

.project.course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-title {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 20px;
}

.project-details {
  width: 50%;
  height: 200px;
  /* margin: 0 auto; */
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
}

.project-image {
  width: 500px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header {
  background-color: var(--main-color);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  flex-wrap: wrap;
}

.header a {
  text-decoration: none;
  color: white;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.header img {
  height: 50px;
}

.hero {
  height: 300px;
  display: flex;
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-position-x: right;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background: #f4fbff;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background: var(--main-color);
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-link {
  height: 50px;
  width: 50px;

  display: inline-block;
}

.social-link.twitter {
  background-image: url("Media/gorjeo.svg");
  background-size: 50px 50px;
  margin: 0px 10px;
}

.social-link.linkedin {
  background-image: url("Media/linkedin.svg");
  background-size: 50px 50px;
  margin: 0px 10px;
}

.social-link.github {
  background-image: url("Media/github.svg");
  background-size: 50px 50px;
  margin: 0px 10px;
}

.social-link.instagram {
  background-image: url("Media/instagram.svg");
  background-size: 50px 50px;
  margin: 0px 10px;
}

.form-email input {
  border-color: gray;
  padding: 10px 20px 10px 25px;
  background-image: url("Media/email.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: center;
  background-position-x: 5px;
  border-radius: 5px;
  border-style: solid;
}

.form-email button {
  display: block;
  background: transparent;
  margin-top: 10px;
  color: white;
  border: 1px solid;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
}

.form-email h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  flex-wrap: wrap;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer img {
  width: 80px;
  vertical-align: middle;
}

@media screen and (max-width: 320px) {
  /* .header {
        display: block;
    } */
}

@media screen and (max-width: 767px) {
  .hero {
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 2em;
  }

  .hero-image {
    position: absolute;
    z-index: 1;
    /* left           : 0; */
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
  }

  h1 {
    font-size: 1.5em;
    z-index: 2;
  }

  .header {
    display: block;
    height: auto;
  }

  .header figure {
    text-align: center;
  }

  .header ol {
    display: block;
  }

  .header ol li {
    height: 50px;
  }

  .header a {
    justify-content: center;
  }

  .project {
    display: block;
  }

  .project-imageContainer {
    width: auto;
    text-align: center;
  }

  .project-details {
    width: auto;
    height: auto;
    /* font-size: 16px; */
  }

  .project-course,
  .project-detail,
  .project-url,
  .project-date {
    margin: 0.3em 0;
  }

  .project-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }

  .project-course {
    font-size: 0.7em;
  }

  .project-date {
    font-size: 1em;
  }

  .project-url {
    font-size: 1em;
  }

  .project-description {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 480px) {
  .hero-image {
    left: 0;
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.3);
  }

  .project-details {
    font-size: 10px;
  }

  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event-imageContainer img {
    width: 100%;
  }

  .event-detail {
    margin: -2em 0.5em 0.5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }

  .form-email button {
    margin: 1em auto;
  }

  .form-email h3 {
    margin: 0 0 10px;
  }

  .footer {
    display: block;
    border: 1px solid transparent;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
}
